@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    min-height: 100vh;
}

.hero-image, .subpage-hero-image {
    transition: right 1s;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px black inset !important;
  }

@media only screen and (max-width: 1023px) {
    .hero-image {
        max-height: 100%;
        width: auto;
    }
}

@media only screen and (max-width: 767px) {
    .subpage-hero-image {
        max-height: 100%;
        max-width: none;
    }
}

