@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    min-height: 100vh;
}

@media only screen and (max-width: 639px) {
    .hero-image {
        max-height: 100%;
        width: auto;
        max-width: fit-content;
        height: fit-content;
    }
}

